<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet" value="http://www.nuget.org/api/v2/" />
        <add key="StanixGamesPrivateRepo" value="http://138.201.90.149:8081/repository/nuget-hosted/" />
    </packageSources>
    <disabledPackageSources />
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <config>
        <add key="repositoryPath" value="./Packages" />
        <add key="DefaultPushSource" value="http://138.201.90.149:8081/repository/nuget-hosted/" />
    </config>
	<packageSourceCredentials>
        <StanixGamesPrivateRepo>
			<add key="Username" value="nuget-readonly" />
            <add key="ClearTextPassword" value="EffseVvx7sd8BXS8hkVaaVo0mxdVWATOElJ4lzRIy8t7xB3N6VOGhYlMmF2MkcB7C6FHRYb2n9N7J1DOWvEgbfuOHTxYmUDnGHkB" />
        </StanixGamesPrivateRepo>
    </packageSourceCredentials>
</configuration>